---
import "@fontsource/mulish"
import "@fontsource/mulish/700.css"

import Icon from "../components/Icon.astro"

const icons = await Astro.glob("/public/icons/*.ts")
---

<body class='selection:bg-space/10'>
	<header class='bg-gradient-to-br bg-snow relative'>
		<div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative overflow-hidden'>
			<div
				class='relative z-10 flex justify-between w-full items-center from-snow to-transparent bg-gradient-to-b pt-6'
			>
				<img class='h-7' src='./logo.png' alt='' />
				<div class='flex-1'></div>
				<a
					class='rounded-lg text-space/90 font-semibold transition flex items-center gap-3 leading-6 py-1 px-1.5 -my-1 -mx-1.5 hover:bg-space/5'
					href='https://github.com/onmax/nimiq-icons/issues/new/choose'
					target='_blank'
				>
					<svg viewBox='0 0 24 24' aria-hidden='true' class='h-6 w-6 fill-space/80'>
						<path
							fill-rule='evenodd'
							clip-rule='evenodd'
							d='M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z'
						>
						</path>
					</svg>
					<span class='whitespace-nowrap'>Suggestions</span>
				</a>
			</div>
			<div class='flex max-w-[37rem] flex-col py-16 lg:pt-12 lg:pb-11 h-96 z-10'>
				<h1
					class='mb-6 text-2xl font-bold leading-9 tracking-tight text-space/90 md:text-4xl relative z-10'
				>
					Elegantly designed, user-friendly <span style="background: -webkit-linear-gradient(30deg, #E9B213 60%, #E5A212 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text">icons</span> crafted by <span style="background: -webkit-linear-gradient(30deg, #E9B213 60%, #E5A212 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text">Nimiq</span>
				</h1>
				<div
					class='flex items-center justify-center gap-4 text-sm leading-6 text-space/50 lg:justify-start z-10'
				>
					<p>{icons.length} icons</p>
					<svg viewBox='0 0 2 2' aria-hidden='true' class='w-0.5 fill-space/40'>
						<circle cx='1' cy='1' r='1'></circle>
					</svg>
					<p>Made by Nimiq</p>
				</div>
				<div class='mt-10 flex justify-center gap-8 lg:justify-start z-10'>
					<div class='flex flex-col w-full'>
						<input
							type='text'
							id='search'
							class='w-full h-full border-none px-4 pt-2 pb-1.5 rounded-xl outline-none ring-1 ring-space/[0.15] text-space hover:ring-space/30 hover:placeholder-space/60 focus:ring-space/30 focus:placeholder-space/60 focus:text-space'
							placeholder='Search something'
							autocomplete='off'
						/>
						<div>
							<div class='flex flex-wrap gap-2 mt-2 mx-2.5'>
								<input id='all' class='sr-only peer/all' type='radio' value='all' name='tag' checked />
								<label
									for='all'
									class='text-sm py-1 px-2 w-max text-space/80 hover:text-space/90 hover:bg-space/10 rounded-md text-left peer-checked/all:bg-space/[0.15] peer-checked/all:ring-0 cursor-pointer flex gap-x-2 transition-colors items-center'
								>
									all
								</label>
								<input
									id='small'
									class='sr-only peer/small'
									type='radio'
									value='small'
									name='tag'
								/>
								<label
									for='small'
									class='text-sm py-1 px-2 w-max text-space/80 hover:text-space/90 hover:bg-space/10 rounded-md text-left peer-checked/small:bg-space/[0.15] peer-checked/small:ring-0 cursor-pointer flex gap-x-2 transition-colors items-center'
								>
									small
								</label>
								<input
									id='large'
									class='sr-only peer/large'
									type='radio'
									value='large'
									name='tag'
								/>
								<label
									for='large'
									class='text-sm py-1 px-2 w-max text-space/80 hover:text-space/90 hover:bg-space/10 rounded-md text-left peer-checked/large:bg-space/[0.15] peer-checked/large:ring-0 cursor-pointer flex gap-x-2 transition-colors items-center'
								>
									large
								</label>
								<input id='logo' class='sr-only peer/logo' type='radio' value='logo' name='tag' />
								<label
									for='logo'
									class='text-sm py-1 px-2 w-max text-space/80 hover:text-space/90 hover:bg-space/10 rounded-md text-left peer-checked/logo:bg-space/[0.15] peer-checked/logo:ring-0 cursor-pointer flex gap-x-2 transition-colors items-center'
								>
									logo
								</label>
								<input
									id='country'
									class='sr-only peer/country'
									type='radio'
									value='country'
									name='tag'
								/>
								<label
									for='country'
									class='text-sm py-1 px-2 w-max text-space/80 hover:text-space/90 hover:bg-space/10 rounded-md text-left peer-checked/country:bg-space/[0.15] peer-checked/country:ring-0 cursor-pointer flex gap-x-2 transition-colors items-center'
								>
									country
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='absolute inset-y-0 right-0 h-96 top-8'>
				<img src='./cover.png' alt='' class='h-full object-cover' />
			</div>
			
		</div>
		<div class="absolute inset-x-0 h-10 bg-gradient-to-b from-snow to-white bottom-0"></div>
	</header>
</body>
<main class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
	<ul
		class='grid grid-cols-[repeat(auto-fill,minmax(8rem,1fr))] gap-x-6 gap-y-8 pt-10 pb-16 sm:pt-11 md:pt-12'
		id="icons-list"
	>
		{
			icons.map(({ default: icon }) => (
				<li>
					<Icon name={icon.name} keywords={icon.keywords} svg={icon.svg} category={icon.category} />
				</li>
			))
		}
	</ul>

	<p class="text-space/80" id="no-icons">
		There are no icons that match your search. Please try again with a different search term.
	</p>

	<script src='../scripts/search.ts'></script>
	<script src='../scripts/click-elements.ts'></script>
</main>
